body {
  padding: 0;
  margin: 0 auto;
  min-width: 320px;
  font-size: 15px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
  position: relative;
}
img {
  width: 100%;
  height: auto;
}
a,
button,
input[type="submit"],
input[type="button"] {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
textarea,
input[type="text"],
input[type="tel"],
.slick-slide {
  outline: none;
}
.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  min-width: 320px;
  position: relative;
}
@media (min-width: 768px) {
  .container {
    padding: 0;
    margin: 0 auto;
    min-width: 768px;
    position: relative;
  }
}
@media (min-width: 860px) {
  .container {
    padding: 0;
    margin: 0 auto;
    min-width: 860px;
    position: relative;
  }
}
@media (min-width: 1140px) {
  .container {
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
  }
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/MontserratLight.woff2") format("woff2"), url("../fonts/MontserratLight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/MontserratRegular.woff2") format("woff2"), url("../fonts/MontserratRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/MontserratMedium.woff2") format("woff2"), url("../fonts/MontserratMedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/MontserratSemiBold.woff2") format("woff2"), url("../fonts/MontserratSemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/MontserratBold.woff2") format("woff2"), url("../fonts/MontserratBold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}
.title-m {
  font-size: 24px;
  line-height: normal;
  font-weight: 300;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
.delivery__bg {
  background: #f4f4f4;
  width: 100%;
}
.delivery__bg::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #d9d5d2;
  position: absolute;
  top: 114px;
  left: 0;
}
.delivery {
  padding: 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin-left: 37px;
  margin-right: 37px;
  padding-top: 18px;
}
.delivery__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}
.delivery__logo img {
  width: 245px;
  height: 48px;
}
.delivery__help {
  color: #3a0000;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  padding-left: 20px;
}
.delivery__help::before {
  content: "";
  display: inline-block;
  width: 29px;
  height: 29px;
  background: url("../img/tel.svg") no-repeat;
  position: absolute;
  top: -9px;
  left: -20px;
}
.delivery__help a {
  color: #3a0000;
}
.delivery__title {
  font-size: 24px;
  line-height: normal;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .delivery__bg::before {
    display: none;
  }
}
@media (min-width: 860px) {
  .delivery__logo img {
    width: 160px;
    height: 36px;
  }
  .delivery__bg {
    width: 50%;
  }
}
@media (min-width: 1140px) {
  .delivery__bg {
    padding-bottom: 60px;
  }
  .delivery {
    margin-left: 0;
    padding-bottom: 30px;
    margin-right: 90px;
  }
  .delivery__logo img {
    width: 228px;
    height: 46px;
    margin-right: 24px;
  }
  .delivery__help {
    position: absolute;
    bottom: -54px;
    left: -13%;
  }
  .delivery__logo {
    margin-bottom: 0;
  }
  .delivery__title {
    margin-top: 4px;
    letter-spacing: 1px;
  }
  .form__radio + label {
    padding-left: 38px;
  }
}
.form {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__name {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}
.form__name span {
  font-weight: 600;
}
.form__description {
  font-size: 12px;
  line-height: 24px;
  color: #696969;
}
.form__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 27px;
  width: 100%;
}
.form__choice--last {
  margin-bottom: 10px;
}
.form__choice input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}
.form__radio + label {
  position: relative;
  padding-left: 20px;
  top: 0;
  left: 2px;
  cursor: pointer;
}
.form__radio + label::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -16px;
  width: 14px;
  height: 14px;
  border: 2px solid #837063;
  border-radius: 50%;
}
.form__radio:checked + label::after {
  opacity: 1;
}
.form__radio + label::after {
  content: "";
  position: absolute;
  top: 17px;
  left: -11px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000000;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.form__input {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 24px;
  margin-bottom: 20px;
}
.form__input-text {
  border: 2px solid #ececec;
  padding-left: 16px;
  width: calc(100% - 40px);
  height: 44px;
  margin-bottom: 6px;
  font-size: 12px;
  color: #696969;
}
.form__link {
  border: 2px solid #ececec;
  border-left: 2px solid #6295b6;
  width: calc(100% - 22px);
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #696969;
  margin-top: 9px;
}
.form__details {
  color: #473736;
  font-weight: 500;
  font-size: 23px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.form__textarea {
  border: 2px solid #ececec;
  padding-left: 16px;
  padding-top: 15px;
  width: calc(100% - 40px);
  height: 45px;
  margin-bottom: 6px;
  font-size: 12px;
  color: #696969;
  resize: vertical;
}
@media (min-width: 540px) {
  .form__name {
    font-size: 17.8px;
  }
  .form__description {
    font-size: 14px;
  }
  .form__input {
    width: calc(100% - 20px);
  }
  .form__input-text {
    width: calc(100% - 90px);
  }
  .form__link {
    width: calc(100% - 73px);
  }
  .form__textarea {
    width: calc(100% - 90px);
  }
}
@media (min-width: 1140px) {
  .delivery__title {
    margin-right: 20px;
  }
  .form__radio + label {
    position: relative;
    padding-left: 10px;
  }
  .form__radio + label::before {
    top: 14px;
    left: -23px;
  }
  .form__radio + label::after {
    top: 19px;
    left: -18px;
  }
  .form__choice {
    margin-bottom: 25px;
  }
  .form__choice--last {
    margin-bottom: 15px;
  }
  .form__input {
    margin-right: 20px;
    width: calc(100% - 60px);
  }
  .form__details {
    margin-top: 21px;
    margin-bottom: 21px;
  }
  .form__textarea {
    height: 41px;
  }
  .form__input-text {
    height: 40px;
  }
}
.order__line {
  border-top: 2px solid #d9d5d2;
  width: 100%;
}
.order {
  padding: 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 1px;
  padding-bottom: 20px;
}
.order__title {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  margin-top: 26px;
  margin-bottom: 10px;
}
.order__full,
.order__lists,
.order__payment {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 17px;
}
.order__element,
.order__element-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order__element-price {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.order__element {
  width: calc(50% + 80px);
}
.order__list img {
  width: 104px;
  height: 98px;
  margin-left: 3%;
  margin-right: 5%;
}
.order__name {
  font-size: 10px;
  font-weight: 500;
  color: #473736;
}
.order__price {
  font-size: 10px;
  font-weight: 600;
  margin-right: 20px;
}
.order__price-old {
  font-size: 10px;
  font-weight: 600;
  color: red;
  margin-right: 20px;
}
.order__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 37px);
  padding-top: 18px;
}
.order__item:first-child,
.order__item:last-child {
  border-top: 1px solid #f1efed;
}
.order__item:not(:first-child):not(:last-child) {
  padding-bottom: 25px;
}
.order__full-name {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.order__sum {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 39px;
}
.order__payment {
  border: 3px solid #c4d0ab;
  margin-top: 28px;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 77px;
  margin-bottom: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.order__pay {
  width: calc(100% - 73px);
  min-height: 17px;
}
.order__pay__name {
  font-size: 14px;
  font-weight: 300;
}
.order__payment input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}
.order__pay__input + label {
  position: relative;
  padding-left: 0px;
  top: 0;
  left: 2px;
  cursor: pointer;
}
.order__pay__input:checked + label::after,
.order__pay__input:checked + label::before {
  opacity: 1;
}
.order__pay__input:checked + label {
  font-weight: bold;
  padding-left: 29px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.order__pay__input + label::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -5px;
  width: 13px;
  height: 13px;
  border: 2px solid #c4d0ab;
  opacity: 0;
  border-radius: 50%;
}
.order__pay__input + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 1px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #c4d0ab;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.order__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order__button {
  background-color: #e8ca8f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 48px;
  width: calc(100% - 10px);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  border: none;
}
@media (min-width: 540px) {
  .order__element-price {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .order__name {
    font-size: 12px;
  }
  .order__price {
    font-size: 12px;
  }
  .order__price-old {
    font-size: 12px;
  }
  .order__title {
    font-size: 30px;
  }
  .order__full-name {
    font-size: 16px;
  }
  .order__sum {
    font-size: 16px;
  }
  .order__pay__name {
    font-size: 17px;
  }
  .order__button {
    min-height: 58px;
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .order__line {
    border-top: none;
  }
}
@media (min-width: 860px) {
  .order__line {
    width: 40%;
  }
}
@media (min-width: 1140px) {
  .order {
    margin-right: 0;
  }
  .order__title {
    font-size: 26px;
    margin-top: 23px;
    margin-left: 20px;
  }
  .order__list img {
    width: 93px;
    height: 85px;
  }
  .order__element {
    width: calc(50% + 90px);
  }
  .order__price,
  .order__price-old {
    margin-right: 9px;
  }
  .order__item {
    padding-top: 12px;
  }
  .order__sum {
    margin-right: 24px;
  }
  .order__payment {
    padding: 20px 0;
    margin-bottom: 29px;
    margin-left: 6px;
  }
  .order__button {
    min-height: 50px;
    font-size: 18px;
  }
  .order__pay__input:checked + label {
    padding-left: 30px;
  }
  .order__pay__name {
    font-size: 15px;
  }
  .order__pay {
    min-height: 27px;
    width: calc(100% - 43px);
  }
  .order__pay__input + label::before {
    top: 4px;
    left: 2px;
    width: 11px;
    height: 11px;
  }
  .order__pay__input + label::after {
    top: 9px;
    left: 7px;
  }
}
.block__delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 860px) {
  .block__delivery {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.main-page {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.main-page::before {
  content: "";
  display: block;
  width: 100%;
  height: 50.5%;
  background-color: #f4f4f4;
  position: absolute;
  left: 0;
  top: 0;
}
@media (min-width: 860px) {
  .main-page::before {
    width: 54.5%;
    height: 100%;
    border-right: 2px solid #d9d5d2;
  }
}
@media (min-width: 1600px) {
  .main-page::before {
    width: calc(54.5% - 55px);
    height: 100%;
    border-right: 2px solid #d9d5d2;
  }
}
